# Data Wrangling 

Problem Statement: Data Wrangling on Real Estate Market 
Dataset: "RealEstate_Prices.csv" 
Description: The dataset contains information about housing prices in a specific real estate 
market. It includes various attributes such as property characteristics, location, sale prices, 
and other relevant features. The goal is to perform data wrangling to gain insights into the 
factors influencing housing prices and prepare the dataset for further analysis or modeling. 
Tasks to Perform: 
1.  Import the "RealEstate_Prices.csv" dataset. Clean column names by removing spaces, special characters, or renaming them for clarity. 
2. Handle missing values in the dataset, deciding on an appropriate strategy (e.g., imputation or removal). 
3. Perform data merging if additional datasets with relevant information are available (e.g., neighborhood demographics or nearby amenities). 
4. Filter and subset the data based on specific criteria, such as a particular time period, property type, or location. 
5. Handle categorical variables by encoding them appropriately (e.g., one-hot encoding or label encoding) for further analysis. 
6.  Aggregate the data to calculate summary statistics or derived metrics such as average sale prices by neighborhood or property type. 
7. Identify and handle outliers or extreme values in the data that may affect the analysis or modeling process.

### 1. Import the "RealEstate_Prices.csv" dataset. Clean column names by removing spaces, special characters, or renaming them for clarity.

In [1]:
import pandas as pd
df= pd.read_csv('Real estate.csv')

In [2]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
df.columns=df.columns.str.replace(' ','_').str.replace('a-zA-Z0-9','',regex=True).str.lower()

In [6]:
df.head()

,no,x1_transaction_date,x2_house_age,x3_distance_to_the_nearest_mrt_station,x4_number_of_convenience_stores,x5_latitude,x6_longitude,y_house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

###  2. Handle missing values in the dataset, deciding on an appropriate strategy (e.g., imputation or removal).

In [10]:
df.isnull().sum()

no                                        0
x1_transaction_date                       0
x2_house_age                              0
x3_distance_to_the_nearest_mrt_station    0
x4_number_of_convenience_stores           0
x5_latitude                               0
x6_longitude                              0
y_house_price_of_unit_area                0
dtype: int64

In [11]:
# Option 2: Impute missing values (example using mean for numerical columns)
df.fillna(df.mean(), inplace=True)

### 3.  Perform data merging if additional datasets with relevant information are available (e.g., neighborhood demographics or nearby amenities).

In [12]:
# Example of merging with another dataset
# demographics_df = pd.read_csv('Neighborhood_Demographics.csv')
# df = df.merge(demographics_df, on='neighborhood', how='left')

### 4.Filter and subset the data based on specific criteria, such as a particular time period, property type, or location.

In [15]:
df_filtered = df[df['x2_house_age'] < 10]  # Houses younger than 10 years

In [17]:
# Filter by transaction date (assuming 'transaction_date' is in datetime format)
df['x1_transaction_date'] = pd.to_datetime(df['x1_transaction_date'])
df_filtered = df[(df['x1_transaction_date'] >= '2020-01-01') & (df['x1_transaction_date'] <= '2020-12-31')]

### 5.Handle categorical variables by encoding them appropriately (e.g., one-hot encoding or label encoding) for further analysis.

In [18]:

# If you have ordinal variables, you might prefer Label Encoding
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df['property_type'] = le.fit_transform(df['property_type'])

### 6.Agregating

In [19]:
# Create age groups
df['age_group'] = pd.cut(df['x2_house_age'], bins=[0, 10, 20, 30, 40, 50, 100], labels=['0-10', '10-20', '20-30', '30-40', '40-50', '50+'])

# Calculate average unit price by age group
avg_price_by_age = df.groupby('age_group')['y_house_price_of_unit_area'].mean().reset_index()
print(avg_price_by_age)

  age_group  y_house_price_of_unit_area
0      0-10                   45.232258
1     10-20                   34.138323
2     20-30                   31.195349
3     30-40                   36.794186
4     40-50                   48.762500
5       50+                         NaN

In [20]:
# Average Price by Convenience Store Availability:

In [21]:
avg_price_by_convenience = df.groupby('x4_number_of_convenience_stores')['y_house_price_of_unit_area'].mean().reset_index()
print(avg_price_by_convenience)

    x4_number_of_convenience_stores  y_house_price_of_unit_area
0                                 0                   26.462687
1                                 1                   31.839130
2                                 2                   31.412500
3                                 3                   29.536957
4                                 4                   37.474194
5                                 5                   44.729851
6                                 6                   46.951351
7                                 7                   43.848387
8                                 8                   44.696667
9                                 9                   51.732000
10                               10                   48.430000

### 7.Identifying and Handling Outliers

In [22]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['y_house_price_of_unit_area'].quantile(0.25)
Q3 = df['y_house_price_of_unit_area'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers in the unit price column
df_no_outliers = df[(df['y_house_price_of_unit_area'] >= lower_bound) & (df['y_house_price_of_unit_area'] <= upper_bound)]

print(f"Number of rows before removing outliers: {len(df)}")
print(f"Number of rows after removing outliers: {len(df_no_outliers)}")

Number of rows before removing outliers: 414
Number of rows after removing outliers: 411

In [23]:
len(df)

414